.app-container {
    width: 100vw;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overscroll-behavior: none;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overscroll-behavior: none;
}

.material-icons {
    font-family: 'Material Icons';
    font-size: var(--ExtraLargeFont);
}

.no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.nav-link {
    color: var(--Primary);
    font-weight: var(--HeadingWeight);
    font-family: var(--HeadingFont);
}

.nav-link:active {
    color: var(--Accent);
}

.nav-link:hover {
    color: var(--Accent);
}

@media (min-width: 1024px) {
    .app-container {
        min-height: 99vh;
        
    }
}